* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1224px;
    margin: 0 auto;
    /* background-color: rgb(228, 228, 228) ; */
}

.header-wrapper {
    width: 100%;
    height: 140px;
}

.header-wrapper .top-navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.top-navbar .sosMedia {
    font-size: large;
    color: gray;
}

.sosMedia span {
    margin-right: 20px;
}

.flex {
    display: flex;
    gap: 10px;
    align-items: center;justify-content: space-between;
}

.top-navbar .contact {
    display: inline-flex;
}

.bottom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo-wraper {
    width: 15%;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-bar input {
    border: none;
    background-color: rgb(242, 242, 242);
    padding: 10px 20px;
    border-radius: 5px 0 0 5px;
    width: 340px;
}

.search-bar button {
    padding: 10px;
    border: none;
    background-color: #F46B5B;
    border-radius: 0 5px 5px 0;
    color: white;
}

.icon-cart-mail {
    display: flex;
    gap: 30px;
}

/* hero-container */
.hero-container {
    display: flex;
    justify-content: space-between;
    height: 520px;
    padding: 28px 0;
}

.slide-auto {
    width: 68%;
    height: 100%;
}

.slide-auto ul {
    width: 130px;
    margin: auto;
}

.hero-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery__image {
    width: 100%;
    height: 470px;
    object-fit: cover;
    border-radius: 25px;
}

.hero__image {
    width: 100%;
    height: 225px;
    object-fit: cover;
    display: block;
    border-radius: 25px;
}

.hero-box-1 {
    position: relative;
}

.hero-box-1 button {
    position: absolute;
    top: 42%; 
    left: 30%;
    border: none;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(238, 238, 238, 0.59);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero-box-1 button:hover{
    background-color: aliceblue;
}
/* ========  category   ===== */

.category-container{
    margin: 40px 0;
}
 h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
}
.category-flex{
    display: flex;  
    justify-content: space-around;
}
.border-chung{
    border: 2px solid rgb(205, 205, 205);
    border-radius: 10px;
    width: fit-content;
}
.category-item {
    width: calc(100%/7);
    text-align: center;

}
.category-icon{
    margin: auto;
}
.category-icon img{
    width: 40px;
    margin: 8px 10px;
}
.category-item p{
    margin-top: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*  ======== new arrival */
.newarrival-wrapper{
    display: flex;
    justify-content: space-between;
}
.arrival-item{
    width: calc(96%/3);
    display: flex;
    align-items: center;
}
.left-item {
    width: 47%;
    height: 180px;
    background-color: aliceblue;
}
.left-item img{
    width: 100%;
}
.right-item{
    padding: 20px;
}


/* footeer */
.footer{
    margin-top: 30px;
background-color: rgb(227, 227, 227);
}

.newsletter-container{
    background-color:  #F46B5B;
    color: white;
}
.letter--left{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 50px;
    gap: 20px;
}
.letter-text{
    width: calc(76%/2);
}
.footer-btn{
    width: calc(100%/3);
}
.footer-btn input{
    padding: 20px;
    border: none;
    border-radius: 10px;width: 85%;
    position: relative;
}
.footer-btn button{
    position:relative;
    border: none;
    background-color: rgb(41, 41, 41);
    color: white;
    padding: 13px 20px;
    border-radius: 10px;
    right: 80px;
}
.footer-bottom{
    display: flex;
    border-bottom: 1px solid lightgray;
}.footer-bottom li{
    list-style: none;
    padding: 10px 0;
}
.footerrrrr{
    margin-top: 70px;
}
.footer__1{
    width: 40%;
    margin-right: 170px;
}
.footer-bottom p{
    color: gray;
}
.footer-bottom h3{
    margin-bottom: 30px;
}
.footer__2{
    width: 20%;
}
.footer__3{
    width: 20%;
}.footer__4{
    width: 20%;
}
.footer__4 span{
    font-size: xx-large;
    background-color: #ff9488;
    color: white;
    padding: 10px;border-radius: 10px;
}
.coppywrite{
    padding: 30px 0;
}