
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1224px;
  margin: 0 auto;
  /* background-color: rgb(228, 228, 228) ; */
}

.header-wrapper {
  width: 100%;
  height: 140px;
}

.header-wrapper .top-navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.top-navbar .sosMedia {
  font-size: large;
  color: gray;
}

.sosMedia span {
  margin-right: 20px;
}


.flex {
  display: flex;
  gap: 10px;
  align-items: center;justify-content: space-between;
}

.top-navbar .contact {
  display: inline-flex;
  gap: 20px;
}

.bottom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo-wraper {
  width: 15%;
}

.nav-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
  list-style: none;
}

.nav-menu li a {
  text-decoration: none;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-bar input {
  border: none;
  background-color: rgb(242, 242, 242);
  padding: 10px 20px;
  border-radius: 5px 0 0 5px;
  width: 340px;
}

.search-bar button {
  padding: 10px;
  border: none;
  background-color: #F46B5B;
  border-radius: 0 5px 5px 0;
  color: white;
}

.icon-cart-mail {
  display: flex;
  gap: 30px;
}

/* hero-container */
.hero-container {
  display: flex;
  justify-content: space-between;
  height: 520px;
  padding: 28px 0;
}

.slide-auto {
  width: 68%;
  height: 100%;
}

.slide-auto ul {
  width: 130px;
  margin: auto;
}

.hero-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery__image {
  width: 100%;
  height: 470px;
  object-fit: cover;
  border-radius: 25px;
}

.hero__image {
  width: 100%;
  height: 225px;
  object-fit: cover;
  display: block;
  border-radius: 25px;
}

.hero-box-1 {
  position: relative;
}

.hero-box-1 button {
  position: absolute;
  top: 42%; 
  left: 30%;
  border: none;
  padding: 15px;
  border-radius: 8px;
  background-color: rgba(238, 238, 238, 0.59);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero-box-1 button:hover{
  background-color: aliceblue;
}
/* ========  category   ===== */

.category-container{
  margin: 40px 0;
}
h2{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 50px;
}
.category-flex{
  display: flex;  
  justify-content: space-around;
}
.border-chung-1{
  border: 1px solid rgb(167, 167, 167);
  border-radius: 10px;
  width: fit-content;
}
.category-item {
  width: calc(100%/7);
  text-align: center;

}
.category-icon{
  margin: auto;
}
.category-icon img{
  width: 40px;
  margin: 8px 10px;
}
.category-item p{
  margin-top: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*  ======== new arrival */
.border-chung-2{
  border: 1px solid rgb(167, 167, 167);
  border-radius: 25px;
  width: fit-content;
}
.newarrival-wrapper{
  display: flex;
  justify-content: space-between;
}
.arrival-item{
  width: calc(96%/3);
  display: flex;
  align-items: center;
}
.left-item {
  width: 47%;
  height: 220px;
  background-color: rgb(209, 209, 209);
}
.left-item img{
  width: 100%;
}
.right-item{
  padding: 20px;
}
.new-circle{
  position: relative;
  color: white;
  font-size: 15px;
  background-color: #F46B5B;
  width: fit-content;
  padding: 18px 10px;
  border-radius: 50%;
  left: 20px;
  bottom: 200px;
}


/* footeer */
.footer{
  margin-top: 30px;
background-color: rgb(227, 227, 227);
}

.newsletter-container{
  background-color:  #F46B5B;
  color: white;
}
.letter--left{
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 50px;
  gap: 20px;
}
.letter-text{
  width: calc(76%/2);
}
.footer-btn{
  width: calc(100%/3);
}
.footer-btn input{
  padding: 20px;
  border: none;
  border-radius: 10px;width: 85%;
  position: relative;
}
.footer-btn button{
  position:relative;
  border: none;
  background-color: rgb(41, 41, 41);
  color: white;
  padding: 13px 20px;
  border-radius: 10px;
  right: 80px;
}
.footer-bottom{
  display: flex;
  border-bottom: 1px solid lightgray;
}.footer-bottom li{
  list-style: none;
  padding: 10px 0;
}
.footerrrrr{
  margin-top: 70px;
}
.footer__1{
  width: 40%;
  margin-right: 170px;
}
.footer-bottom p{
  color: gray;
}
.footer-bottom h3{
  margin-bottom: 30px;
}
.footer__2{
  width: 20%;
}
.footer__3{
  width: 20%;
}.footer__4{
  width: 20%;
}
.footer__4 span{
  font-size: xx-large;
  background-color: #ff9488;
  color: white;
  padding: 10px;border-radius: 10px;
}
.coppywrite{
  padding: 30px 0;
}

/* flash sale */
.flashSale-container{
  margin-top: 60px;
  padding-top: 20px;
  height: 600px;
  min-width: 1224px;
}
.montserrat-bold-onyx-56px{
  font-size: 50px;
  font-weight: 600;color: rgb(73, 73, 73);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.poppins-bold-bittersweet-24px{
  color: #F46B5B;
  font-weight: 700;
  font-size: 22px;
}
.poppin-normal-quick-silver-18px{
  font-size: small;
  margin-top: 5px;
  color: rgb(189, 189, 189);
}

.flex-row-1{
  align-items: center;
  display: flex;
  gap :48px;
  min-width: 500px;
}
.countdown{
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 60px;
  min-width: 200px;
}
.countdown-item{
  align-items: center;
  border-radius: 16px;
  display: flex   ;
  flex-direction: column;
  min-width: 60px;
  padding: 8px  0;
}
/* flash sale item */
.flash-sale-product{
  margin-top: 60px;
}
.flex-row-3-item{
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 450px;
}
.item-sale{
  width: calc(95%/3);
}
.product-detail{
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
}
.product-name{
  font-size: 20px;
  margin: 10px 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.product-price{
  color: #F46B5B;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}
/* brannd */
.brand-wrapper{
  display: flex;
  justify-content: space-around;
  margin: 140px 50px;
}
.image-brand{
  width: 90px;
  opacity: 0.6;
}
/* banner */
.banner-container{
  width: 100%;
  height: 330px;
  background-color: rgb(219, 219, 219);
  border-radius: 25px;
  margin: 60px 0;
}
.banner-box{
  text-align: center;
  line-height: 47px;display: flex;
  justify-content: center;
  flex-direction: column;
}
.banner-title{
  font-size: 40px;
  margin-top: 40px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.shop-now-btn{
  width: fit-content;
  color: white;
  margin: 15px auto;
  padding: 15px 20px;
  border: 1px solid white;
  border-radius: 10px;
  background:none;
}

/* featture */
.feature-wrapper{
  display: flex;
  height: 500px;
}
.best-collection{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
}
.witdh-25{
  width: 23%;
  color: white;
  margin-right: 30px;
  background-color: #F46B5B;
  padding: 30px;
  line-height: 30px;
  border-radius: 25px;
}
.feature-product-right{
  width: 76%;
  height: 100%;
}
.feature-row-1{
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.feature-title{
  height: 100%;
}
.feature-item-col-3 {
  text-align: center;
  width: calc(94%/3);
}
.feature-product-detail{
  display: flex;
  flex-direction: column;
}
.feature-title-header{
  font-size: 30px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.add-to-cart-btn{
  width: fit-content;
  margin: 14px auto;
  padding: 10px 20px;
  border: none;
  background-color: #F46B5B;
  color: white;
  border-radius: 5px;
  
}
/* toprate product */
.toprate-container{
  margin: 40px 0;
  margin: 90px 0;
}
.toprate-title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 600;
  padding: 30px 0;
}
.toprate-body{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 25px;
}
.top-rate-item{
  text-align: center;
  height: 440px;
}
.cover-img{
  padding: 25px;
  height: 270px;
}
.item-toprate-img{
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.toprate-item-product{
  display: flex;
  flex-direction: column;
}
.toprate-btn-like{
  display: flex;
  align-items: center;        

}

.icon-heart{
  color: gray;
  font-size: 25px;
  padding-right: 40px;
}